*{
  margin: 0;
  padding: 0;
}
.allpage{
  width: 100%;
  height: 100%;
}
.allbig{
  width: 10.0rem;
  height: 17.79rem;
  display: block;
  margin-top: -1.73rem;
}
.luckdraw{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.heads{
  font-size: 0.93rem;
  color: #ffe825;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-top: 1.87rem;
}
.jian{
  width: 100%;
  text-align: center;
}
.jian img{
  width: 0.93rem;
  height: 0.48rem;
  text-align: center;
}
.actiname{
  font-size: 0.48rem;
  color: #ffe825;
  margin-top: 0.93rem;
  width: 100%;
  text-align: center;
}
.ipt{
  width: 9rem;
  height: 1.2rem;
  background: rgba(0,0,0,.3);
  margin: 0 auto;
  border-radius: 0.6rem 0.6rem;
  margin-top: 0.53rem;
}
.ipt input{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 0.4rem;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
}
.confirms{
  width: 100%;
  text-align: center;
}
.confirms button{
  width: 9rem;
  height: 1.2rem;
  color: #f93e3e;
  font-size: 0.48rem;
  background: #ffba25;
  border-radius: 0.6rem 0.6rem;
  margin-top: 1.71rem;
  font-weight: 500;
  border: none;
}
.logoarea{
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
}
.logoarea img{
  width: 4.0rem !important;
  height: 1.41rem !important;
}
.fotnsa{
  font-size: 0.35rem;
  color: #ffba25;
  text-align: center;
  width: 100%;
  margin-top: 0.13rem;
}
button{
  outline: none;
}